{$APP_DOMAIN_NAME} {
    encode gzip zstd

    handle /api/* {
        rate_limit {
            zone api_per_ip {
                key {http.request.remote.host}
                window 1m
                events 120
            }
            log_key
        }

        reverse_proxy booking-api:8081
    }

    handle {
        reverse_proxy ui:80
    }
}

www.{$APP_DOMAIN_NAME} {
    redir https://{$APP_DOMAIN_NAME}{uri} permanent
}
