{$APP_DOMAIN_NAME} {
    encode gzip zstd

    handle_path /api/data-import/* {
        rate_limit {
            zone api_data_import_per_ip {
                key {http.request.remote.host}
                window 1m
                events 10
            }
            log_key
        }

        rewrite * /api{uri}
        reverse_proxy data-import-api:8083
    }

    handle_path /api/booking/* {
        rate_limit {
            zone api_booking_per_ip {
                key {http.request.remote.host}
                window 1m
                events 120
            }
            log_key
        }

        rewrite * /api{uri}
        reverse_proxy booking-api:8081
    }

    handle {
        reverse_proxy ui:80
    }
}

www.{$APP_DOMAIN_NAME} {
    redir https://{$APP_DOMAIN_NAME}{uri} permanent
}