APP_DOMAIN_NAME=your-domain.example

POSTGRES_DB=eflow
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_PORT=5433

KAFKA_PORT=19092

BOOKING_API_PORT=8081
NOTIFICATIONS_API_PORT=8082
CORS_ALLOWED_ORIGIN_0=https://your-domain.example

JWT_KEY=
JWT_ISSUER=https://your-domain.example
JWT_AUDIENCE=https://your-domain.example
JWT_EXPIRE_MINUTES=1440

ADMIN_USERNAME=
ADMIN_PASSWORD=
ADMIN_EMAIL=

SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM_EMAIL=noreply@your-domain.example
SMTP_FROM_NAME="EFlow Notifications"
SMTP_SECURE_SOCKET_OPTIONS=
